<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-10 col-lg-7 col-xl-6">
          <div class="card">
            <div class="card-body p-1 text-center">
  
              <div class="mb-md-5 mt-md-4">
  
                <div class="row">
                  <div class="col-1 offset-1">
                    <button class="btn btn-outline-light btn-lg" (click)="onGoBackClicked()">
                      <i class="fa fa-arrow-circle-left"></i>
                    </button>
                  </div>
                  <div class="col-10">
                    <h2 class="fw-bold mb-2 pb-5">Регистрация</h2>
                  </div>
                </div>
  
                <div class="col-11">
                  <div class="row py-2">
                    <div class="col-5">
                      <label class="form-label" for="typeEmailX">Логин</label>
                    </div>
                    <div class="col-6 offset-1">
                      <input type="email" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="login" />
                    </div>
                  </div>

                  <div class="row py-2">
                    <div class="col-5">
                      <label class="form-label" for="typePasswordX">Пароль</label>
                    </div>
                    <div class="col-6 offset-1">
                      <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="password" />
                    </div>
                  </div>

                  <div class="row py-2">
                    <div class="col-5">
                      <label class="form-label" for="typePasswordX">Повтор пароля</label>
                    </div>
                    <div class="col-6 offset-1">
                      <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="repPassword" />
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center align-items-center pt-5">
                  <div class="col-8">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onRegistrateClicked()">
                      Зарегистрироваться
                    </button>
                  </div>
                </div>

              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>