<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="row-inline">
          <button class="btn btn-outline-light mx-1" (click)="onExitClicked()">
            <i class="fa fa-sign-out"></i>
            Выход
          </button>
          <button *ngIf="!IsMain" class="btn btn-outline-light mx-1" (click)="onBackClicked()">
            <i class="fa fa-arrow-left"></i>
            Назад
          </button>
        </div>
        <button class="btn btn-outline-light mx-1" disabled>
          <i class="fa fa-user"></i>
          {{userName}}
        </button>
      </div>
    </nav>
</header>